[submodule "lib/max31856"]
	path = lib/max31856
	url = https://github.com/adafruit/Adafruit_MAX31856.git
[submodule "lib/DHT22"]
	path = lib/DHT22
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_MAX31865"]
	path = lib/Adafruit_MAX31865
	url = https://github.com/adafruit/Adafruit_MAX31865.git
[submodule "lib/SHT1x"]
	path = lib/SHT1x
	url = https://github.com/practicalarduino/SHT1x.git
